body{
    color: whitesmoke;
    background-color: black;
    h2 {
        text-align: center;
        color: #643652;
    }
    summary {
        font-size: 1.17em;
        font-weight: bold;
        cursor: pointer;
        color: #976b86;
    }
    details[open] summary {
        color:#643652;
    }
    p {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
}